---
import { Button } from "@/components/ui/button";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Base from "@/layouts/Base.astro";
---

<Base>
  <div class="grid min-h-screen grid-cols-1 grid-rows-[auto_1fr_auto]">
    <Header />
    <main class="container"></main>
    <Footer />
  </div>
</Base>
