.App {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.App > * > .App__content {
  margin: 0 1rem;
  max-width: calc(4 * 225px + 3rem);
}

.App > footer {
  margin-top: 3em;
  background-color: var(--color-bg-accent);
}

@media (min-width: calc(980px)) {
  .App > * > .App__content {
    margin: 0 auto;
  }
}
