.footer {
  padding: 1rem 0 3rem;
  min-height: 8em;
}

.footer .footer__mainLinks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
}

.footer .footer__sectionHeader {
  color: var(--color-tree-root);
  margin: 1rem 0;
}

.footer ul.footer__sectionLinks {
  margin-top: 0;
  list-style: none;
  padding: 0;
}

.footer ul.footer__sectionLinks.social {
  display: flex;
}

.footer ul.footer__sectionLinks li {
  margin-top: 3px;
}

.footer ul.footer__sectionLinks svg {
  fill: var(--color-label);
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  transition: 100ms;
}

.footer ul.footer__sectionLinks.social svg:hover {
  transform: scale(1.1);
}

.footer .footer__copy {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer .footer__copy img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
