---
import { Button } from "@/components/ui/button";

type Props = {
  href: string;
};

const { href } = Astro.props;
---

<Button variant="link" size="sm">
  <a href={href}>
    <slot />
  </a>
</Button>
