.fileErrors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2em 0;
}

.errorCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3px;
}

.errorCard .close-button {
  margin-left: 1em;
  background-color: rgb(226, 132, 148);
  color: #fcfcfc;
  height: 30px;
  width: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms cubic-bezier(0.42, 0, 0.56, 1.7);
}

.errorCard .close-button:hover,
.errorCard .close-button:active {
  background-color: crimson;
}

.errorCard .close-button img {
  width: 14px;
  height: 14px;
}
