rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /results/{document=**} {
      allow read: if
          request.time < timestamp.date(2021, 11, 10);
    }
    match /emails/{email} {
      allow write: if request.resource.data.email.matches(".*@.*");
      allow read: if false;
    }
    match /{document=**} {
      allow read, write: if false
    }
  }
}
