.toast {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translate(-50%, -15%);
  max-width: 450px;
  padding: 18px;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  animation: toast-slide-up 0.4s;
  will-change: transform;
  text-align: center;
  color: var(--color-bg)
}

.toast__title {
  font-weight: bold;;
  margin: 5px auto;
}

.toast__description {
  margin: 5px auto;
}

.toast.info {
  background-color: var(--color-tree-leaf);
}

.toast.warning {
  background-color: var(--color-tree-root);
}

.toast.error {
  background-color: #F56565;
}


@keyframes toast-slide-up {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, -15%);
  }
}
