@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-tree-leaf: #009d35;
    --color-tree-branch: #b76d22;
    --color-tree-trunk: #904c14;
    --color-tree-root: #f0972f;
    --color-bg: #fcfcfc;
    --color-bg-accent: #f0f0f0;
    --color-red-accent: rgb(226, 132, 148);
    --color-link: #366fc6;
    --color-link-hover: #3a6099;
    --color-label: #5b5b5b;
  }

  html {
    font-size: 18px;
    font-family: "Open Sans", ui-sans-serif, system-ui, helvetica, sans-serif;
  }

  a {
    word-break: break-word;
  }
}

@layer components {
  .fancy-areas {
    grid-template-areas: "git cite" "social cite";
  }

  .area-git {
    grid-area: git;
  }

  .area-social {
    grid-area: social;
  }

  .area-cite {
    grid-area: cite;
  }

  .fancy-bg-dashed-a {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='gray' stroke-width='2' stroke-dasharray='9%2c 24%2c 17%2c 8' stroke-dashoffset='13' stroke-linecap='round'/%3e%3c/svg%3e");
  }

  .fancy-bg-dahsed-b {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='lightgray' stroke-width='2' stroke-dasharray='5%2c 18%2c 21' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  }
}
