@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --font-tall: Oswald, sans-serif;

  --color-leaf: #009d35;
  --color-leaf-900: #00b83d;
  --color-trunk: #904c14;
  --color-branch: #b76d22;
  --color-root: #f0972f;

  --fill-leaf: #009d35;

  --grid-template-columns-articles: repeat(auto-fill, minmax(225px, 1fr));
  --grid-template-columns-buttons: repeat(auto-fit, minmax(200px, 1fr));

  --animate-slide-up: slide-up 0.5s ease-out;

  @keyframes slide-up {
    0% {
      transform: translate(-50%, 100%);
    }
    100% {
      transform: translate(-50%, -15%);
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility fancy-areas {
  grid-template-areas: 'git cite' 'social cite';
}

@utility area-git {
  grid-area: git;
}

@utility area-social {
  grid-area: social;
}

@utility area-cite {
  grid-area: cite;
}

@utility fancy-bg-dashed-a {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='gray' stroke-width='2' stroke-dasharray='9%2c 24%2c 17%2c 8' stroke-dashoffset='13' stroke-linecap='round'/%3e%3c/svg%3e");
}

@utility fancy-bg-dahsed-b {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='lightgray' stroke-width='2' stroke-dasharray='5%2c 18%2c 21' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

@layer base {
  :root {
    --color-tree-leaf: #009d35;
    --color-tree-branch: #b76d22;
    --color-tree-trunk: #904c14;
    --color-tree-root: #f0972f;
    --color-bg: #fcfcfc;
    --color-bg-accent: #f0f0f0;
    --color-red-accent: rgb(226, 132, 148);
    --color-link: #366fc6;
    --color-link-hover: #3a6099;
    --color-label: #5b5b5b;
  }

  html {
    font-size: 18px;
    font-family: "Open Sans", ui-sans-serif, system-ui, helvetica, sans-serif;
    scroll-behavior: smooth;
  }

  a {
    word-break: break-word;
  }
}
