.reference {
  transition: background 0.5s ease;
  flex-grow: 1;
  margin-right: 2em;
}

.reference .tittle {
  font-weight: 600;
}

.reference div.tittle {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.reference .doi {
  text-decoration: none;
  color: var(--color-link, lightseagreen);
  filter: brightness(60%);
  transition: all 0.5 ease-in-out;
}
.reference .doi:hover {
  filter: brightness(100%);
}
