.tree-menu {
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 6em);
  grid-gap: 1rem;
}

@media (min-width: 440px) {
  .tree-menu {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6em;
  }
}

.tree-menu button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0;
}

.tree-menu button strong {
  font-family: Oswald, sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.tree-menu button small {
  color: var(--color-bg-accent);
  font-size: 14px;
  font-weight: 600;
}

.tree-menu button.inactive {
  opacity: 0.5;
}

.tree-segment.root h2 {
  color: var(--color-tree-root);
  text-transform: uppercase;
}

.tree-segment.trunk h2 {
  color: var(--color-tree-trunk);
  text-transform: uppercase;
}

.tree-segment.leaf h2 {
  color: var(--color-tree-leaf);
  text-transform: uppercase;
}

.article {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
  align-items: center;
}

.article:nth-child(2n + 1) {
  background-color: var(--color-bg-accent);
}

.article svg.copy-image-icon {
  width: 22px;
  height: 22px;
}
.tree-segment .btn-star svg.star-svg-icon {
  opacity: 0.25;
  width: 25px;
}
.tree-segment .btn-star.favorite svg.star-svg-icon {
  opacity: 1;
}

.tree-segment .btn-star:hover svg.star-svg-icon,
.tree-segment .btn-star:active svg.star-svg-icon {
  opacity: 0.75;
}

.tree-segment .btn-star.favorite:hover svg.star-svg-icon,
.tree-segment .btn-star.favorite:active svg.star-svg-icon {
  opacity: 0.5;
}

.tree-segment.leaf .article svg.star-svg-icon {
  fill: var(--color-tree-leaf);
}

.tree-segment.root .article svg.star-svg-icon {
  fill: var(--color-tree-root);
}

.tree-segment.tree-segment.trunk .article svg.star-svg-icon {
  fill: var(--color-tree-trunk);
}

.btn-star,
.btn-star:active {
  margin-left: 0.5em;
  border: none;
  background: transparent;
  outline: none;
}
