.TreeVis svg {
  min-height: 650px;
}

.TreeVis circle.star {
  stroke: red;
}

.TreeVis circle.leaf {
  fill: var(--color-tree-leaf);
}

.TreeVis circle.branch_1,
.TreeVis circle.branch_2,
.TreeVis circle.branch_3
{
  fill: var(--color-tree-branch);
}

.TreeVis circle.root {
  fill: var(--color-tree-root);
}

.TreeVis circle.trunk {
  fill: var(--color-tree-trunk);
}
