name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Use Node 14
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install dependencies
        run: npm ci
        env:
          CI: true

      - name: Build
        run: |
          npm run build
        env:
          CI: true

      - name: Deploy
        run: |
          npm install firebase-tools
          npm run deploy -- --token=${{ secrets.FIREBASE_TOKEN }} -P coreofscience-dev